{% extends "base.html" %}

{% block content %}



<a href="{% url 'user_change_data' %}" class="btn btn-warning">Edit profile</a>
<div class="row ">



 {% for item in car_store  %}
 
 
 <div class="card m-5 p-3 col-3" style="width: 18rem; ">
  <img src="{{item.car.image.url}}" class="card-img-top" alt="..." style="width: 100%; height: 70%;">
  <div class="card-body">
    <h5 class="card-title"><b>Title:{{item.car.Title}}</b></h5>
    <p class="card-text"><b>Description:</b>{{item.car.Description}}.</p>
    <p class="card-text"><b>price:</b>{{item.car.price}}.</p>
    <p class="card-text"><b>Buyer:</b>{{item.buy_user.username}}</p>
    <p class="card-text"><b>Brand:</b>{{item.car.Brand.Brand_name}}.</p>
  </div>
</div>

 
 
 {% endfor %}


</div>





{% endblock content %}